RewriteEngine On

RewriteRule ^(laptop-svg|md-reader|my-md)/$ /$1 [R=301,L]

RewriteRule ^$ index.html [L]
RewriteRule ^laptop-svg$ laptop-svg.html [L]
RewriteRule ^md-reader$ md-reader.html [L]
RewriteRule ^my-md$ my-md.html [L]
