*{
    font-family: "Arial Black", sans-serif;
    color: #fff;
    cursor: default;
  }
  
  body{
    background: #03021f;
  }

  
/* keyframes */
  
@keyframes slideBottom{
  from{
    transform: translateY(-50px);
    opacity: 0;
  }
  
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideTop{
  from{
    transform: translateY(100px);
    opacity: 0;
  }
  
  to{
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideRight{
  from{
    transform: translateX(-100px);
    opacity: 0;
  }
  
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft{
  from{
    transform: translateX(100px);
    opacity: 0;
  }
  
  to{
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes animate{
  0%{
    transform: translateY(0);
  }
  
  50%{
    transform: translateY(50px);
  }
  
  100%{
    transform: translateY(0);
  }
}


@keyframes bot-to-top {
0%   {bottom:-40px}
50%  {bottom:40px}
}

@keyframes scale-in {
from {transform: scale(0);opacity: 0;}
to {transform: scale(1);opacity: 1;}
}

@keyframes rotate-in {
from {transform: rotate(0deg);}
to {transform: rotate(360deg);}
}

@keyframes rotate-out {
from {transform: rotate(360deg);}
to {transform: rotate(0deg);}
}
  
  /* header #home */
  header{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin: 0 10% 0 10%;
  }
  
  header h1{
    -webkit-text-stroke: 2px white;
    color: transparent;
    cursor: default;
    font-size: 2.1em;
    transition: 1s;
    opacity: 0;
    animation: slideRight 1s ease forwards;
  }
  
  header h1:hover{
    color: white;
    text-shadow: 0 0 40px white;
  }

  .color-1 {
    color: #800080 !important;
  }
  
  .bg-1 {
    background-color: #800080 !important;
  }

  .hov-1:hover {
    color: #800080 !important;
  }

  .hov-bg-1:hover {
    background-color: #800080 !important;
  }

  .navbar a{
    display: inline-block;
    color: #9f80cf;
    margin-left: 30px;
    text-decoration: none;
    font-size: 1.2em;
    transition: .5s;
    cursor: pointer;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
  }
  
  .navbar a:hover,
  .navbar .active{
    color: #800080;
    /* color: #6bdcff; */
  }
  
  .navbar a:hover{
    text-shadow: 0 0 40px #800080;
    /* text-shadow: 0 0 40px #9ee8ff; */
  }

  .navbar-toggler:focus {
      box-shadow: none !important;
  }
  /* .navbar{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-direction: row-reverse;
    align-items: flex-end;
    width: 100%;
  } */

  #home{
    height: 70vh;
    margin: 5% 10%;
    display: flex;
    align-items: center;
  }
  
  #home .name a{
    font-size: 1.2em;
    margin: 0 0 0 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards 1.4s;
    -webkit-text-stroke: 2px white;
    color: transparent;
    transition: .5s;
    cursor: pointer;
  }
  
  /* about */
  .card {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    border: 1;
    border-radius: 1rem;
  }
  
  .img-hover-zoom--colorize img {
    border-radius: 50%;
    width: 150px;
    height: auto;
    margin-top: 20px;
    padding: 1px;
    transition: transform 0.5s;
    /* filter: grayscale(100%); */
  }
  
  .img-hover-zoom--colorize:hover img {
    /* filter: grayscale(0); */
    transform: scale(1.05);
  }
  
  .card h5 {
    overflow: hidden;
    height: 80px;
    font-weight: 300;
    font-size: 1rem;
  }
  
  .card h5 a {
    color: black;
    text-decoration: none;
  }
  
  .role {
    color: #7a7a7a;
  }
  
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .fab {
    font-size: 1.5rem;
    color: darkgray;
    transition: transform 0.5s;
  }
  
  .fab:hover {
    color: black;
    transform: scale(1.1);
  }
  
  .card h2 {
    font-size: 1rem;
  }
  
  /* MEDIA */
  
  @media only screen and (min-width: 1200px) {
    .img-hover-zoom--colorize img {
      width: 200px;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .h1,
    h1 {
      font-size: 2rem;
    }
  }
  
  #home h3,
  #about .personal-card{
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i))
  }
    
  #about .profile-img{
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i))
  }
  
  #home p{
    font-size: 0.9em;
    opacity: 0;
    animation: slideTop 1s ease forwards 1.8s;
  }
  
  #home img{
    max-width: 300px;    
    max-height: 300px;
    opacity: 0;
    animation: slideTop 1s ease forwards 2s;
  }
  
  #home .img{
    animation: animate 5s ease-in-out infinite 3s;
  }
  
  #home span a{
      color: #800080;
      /* color: #0ef; */
    text-decoration: none;
    transition: .5s;
  }
  
  #home span a:hover{
    text-shadow: 0 0 40px #fff;
    color: white;
  }

  /* personal card */
  #about {
    margin: 5% 15%;
  }

  .profile-img {
    margin-right: 15%;
  }

  .personal-card{
    width: 420px;
    height: 510px;
    /* margin: 50px 0px; */
    background-color: #ecf0f1;
    text-align: center;
    color: #800080;
    position: relative;
    -webkit-transition: all 0.2s ease 0.4s;
    transition: all 0.2s ease 0.4s;
    z-index: 1;
}
.personal-card:before,
.personal-card:after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #800080;
    left: 0;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    z-index: 3
}
.personal-card:before{
    top: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}
.personal-card:after{
    bottom: 0;
    -webkit-transform-origin: 0 100%;
    transform-origin:  0 100%
}
/* Card Hover */
.personal-card:hover:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}
.personal-card:hover:after{
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}
.personal-card:hover{
    box-shadow: 20px 20px 0px #888;
    -webkit-transform: translateY(-10px) translateX(-10px);
    transform: translateY(-10px) translateX(-10px);
    -webkit-transition: all 0.2s ease 0.4s;
    transition: all 0.2s ease 0.4s;
}

/* Card Inner */
.personal-card .inner{
    position: relative;
    height: 100%;
    z-index: 2
}

.inner:before,
.inner:after{
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 100%;
    background-color: #800080;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    z-index: 3
}
.inner:before{
    right: 0;
    top: 0;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0
}
.inner:after{
    bottom: 0;
    left: 0;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%
}
/* Card Inner Hover */
.inner:hover:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}
.inner:hover:after{
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

/* Inner Top */

.inner .top{
    width: 100%;
    height: 150px;
    background-image: linear-gradient(62deg, #800080 0%, #800080 50%, #800080 100%);
    color: #34495e;
    position: relative
}
.inner .top:before{
    content: "";
    position: absolute;
    border: 20px solid transparent;
    border-top: 20px solid #800080;
    left: 44%;
    /* left: 130px; */
    top: 150px
}
.top h3{
    line-height: 150px;
    font-size: 30px
}
.bottom p {
    color: #34495e; 
    font-style: italic;
    font-weight: bold;
    padding-top: 20px
}
.bottom ul{
    list-style: none;
    text-align: left;
    margin-top: 40px
}
.bottom ul li{
    color: #800080;
    margin-top: 20px;
    font-weight: bold
}
.social-item {
  cursor: pointer;
}
.social-item[src='src/images/social/link.png'] {
  padding: 5px;
}

/* skills section */
.skill-div {
  width: 132px;
  height: 132px;
  background-color: #ffffff69;
  border-radius: 50%;
  position: relative;
}

.skill-img {
  width: 100px;
  position: absolute;
  top: 16%;
  left: 11%;
  object-fit: cover;
  object-position: center;
}

.skill-text {
  padding-left: 10%;
}

/* projects section */
.dd_heading{
  text-align: center;
  font-family: roboto thin;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}

/* contact section */
.copyright {
  padding: 2rem 0 0 0;
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-3);
  text-align: center;
  border-top: 1px solid var(--color-3);
}

.footer-nav{
    padding: 1rem 0
}

.footer-nav .col {
  max-width: 300px;
}

p.site-decription {
  color: var(--color-3);
  font-size: 1rem;
  font-weight: 400;
}

.social-medias a {
  background-color: #ffffffb1;
  color: var(--color-2);
  width: 3rem;
  height: 3em;
  border: 2px solid var(--color-2);
  border-radius: 50%;
}

/* .social-medias img {
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
} */

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start{
  align-items: flex-start;
}

.flex-jc-start{
  justify-content: flex-start;
}

.flex-around{
  justify-content: space-around;
}

.flex-column{
  flex-direction: column;
}

.flex-g-1{
  gap: 1rem;
}

/* floating icon animation */
/* floating button */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:30px;
	right:30px;
	background-color:#800080;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  box-shadow: 2px 2px 3px #000;
	z-index:1000;
	animation: bot-to-top 2s ease-out;
}

.float .my-float{
	animation: rotate-in 0.5s;
  cursor: pointer;
}

.float-hover {
  position: fixed;
  z-index: 1000;
}

.float-ul{
	position:fixed;
	right:40px;
	bottom:70px;
	z-index:100;
  visibility: hidden;
}

.float-ul li{
	list-style:none;
  vertical-align: baseline !important;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.float-ul li a{
  background-color: #800080;
  text-transform: uppercase;
  font-size: 11px !important;
  letter-spacing: 0.1em;
  font-weight: 300;
  color: #FFF;
  border-radius: 4px;
  text-align: center;
  width: 212px;
  height: 35px !important;
  display: block;
  padding: 6px;
  text-decoration: none;
  cursor: pointer;
}

.float-ul:hover{
	visibility:visible!important;
	opacity:1!important;
}

.float-hover:hover .float-ul{
  visibility: visible;
  animation: scale-in 0.5s;
}

.float:hover .my-float{
	animation: rotate-out 0.5s;
}

.my-float{
	font-size:24px !important;
	margin-top:18px !important;
}
.my-float-sm{
	font-size:12px;
}
